.form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
  width: 528px;
  text-align: center;
}

.formInput {
  width: 200;
  margin: 0;
  margin-bottom: 18px;
  padding: 12px 18px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 10px;
  color: #2196f3;
  font-family: cursive;
}

.title {
  font-family: cursive;
  font-size: 25px;
  color: blue;
}
